version: "3.7"

services:
  reth-bsc:
    image: "caudenacom/reth_bsc:${BUDDY_EXECUTION_REVISION}"
    logging:
      driver: "local"
    container_name: reth-bsc
    restart: unless-stopped
    network_mode: host
    environment:
      - RPC_ADDR=${RPC_ADDR}
      - METRICS_PORT=${METRICS_PORT}
    command: node --chain bsc --datadir=/data --http --http.api all --http.addr=${RPC_ADDR} --http.port=8545 --ws --ws.addr=${RPC_ADDR} --ws.port=8547 --rpc.max-connections=4096 --rpc.max-response-size=1000 --db.max-size=8TB --db.read-transaction-timeout=0 --metrics=${RPC_ADDR}:${METRICS_PORT} --log.file.directory=/logs
    volumes:
      - /home/deploy/bsc_data/server/data-seed/data_dir:/data
      - /home/deploy/bsc_node/logs:/logs
